<h1>State List</h1>

<p>Initial:</p>

<!-- iterate through each state in the array and put them into list items individually -->

<% @states.each do | state | %>
  <li><%= state %></li>
<% end %>


<p>Sorted (Not Permanent):</p>
<% @states.sort.each do | state | %>
  <li><%= state %></li>
<% end %>


<p>Proof:</p>
<% @states.each do | state | %>
  <li><%= state %></li>
<% end %>

<!-- I see what you are doing here. It will become more important later but keep the non-view related coding out of the view (like .sort) -->
<% @states.sort! %>
<p>Sorted (Permanent):</p>
<% @states.each do | state | %>
  <li><%= state %></li>
<% end %>
